﻿@using Resources
@using TRS.UI.Infrastructure
@using TRS.UI.Models
@model ProjectViewModel

@{
    ViewBag.Title = "Details - " + Model.Name;
}
<div class="panel panel-default">
    <div class="panel-heading">
        @Resources.Resource.Title_CreateTask
    </div>
<div class="panel-body">
    <div class="container-fluid">@Html.ValidationSummary()</div>
    @using (Html.BeginForm("CreateProject", "Admin", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.HiddenFor(user => user.Id)
        <div class="form-group">
            @Html.Label(Resource.Field_NameProject, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.Name)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_Description, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.TextBoxFor(user => user.Description, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.Description)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_StartDate, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.DatepickerFor(user => user.StartDate, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.StartDate)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_EndDate, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.DatepickerFor(user => user.EndDate, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.EndDate)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_ChooseUsers, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.ListBoxFor(user => user.Managers,
                   new MultiSelectList(ViewBag.List, "Id", "Name"), new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">@Resource.Button_Save</button>
            </div>
        </div>
    }
</div>
    </div>
