﻿@using TRS.UI.Infrastructure
@model TRS.UI.Models.TaskReportViewModel

@{
}
<div class="panel panel-default">
    <div class="panel-heading">
        @Resources.Resource.Field_CreateTaskReport
    </div>
    <div class="panel-body">
        <div class="container-fluid">@Html.ValidationSummary()</div>
        @using (Html.BeginForm("CreateTaskReport", "TaskReport", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(taskReport => taskReport.Id)
            @Html.HiddenFor(taskReport => taskReport.UserId)
            @Html.HiddenFor(t => t.Task_Id)
            @Html.HiddenFor(taskReport => taskReport.DateEdit)
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_Description, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(taskReport => taskReport.Description, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(taskReport => taskReport.Description)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_Effort, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(taskReport => taskReport.Effort, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(taskReport => taskReport.Effort)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_DateOfReport, new {@class = "col-xs-2 control-label"})

                <div class="col-xs-10">
                    @Html.DatepickerFor(taskReport => taskReport.DateOfReport, new {@class = "form-control"})
                    <div>
                        @Html.ValidationMessageFor(taskReport => taskReport.DateOfReport)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">@Resources.Resource.Button_Save</button>
                </div>
            </div>
        }
    </div>
</div>