﻿@using System.Security.Claims

@model IEnumerable<TRS.UI.Models.TaskReportViewModel>
@{
    ViewBag.Title = "Task Report";
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
<h4>@Resources.Resource.Title_TaskReport</h4>
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>@Resources.Resource.Field_Description</th>
            <th>@Resources.Resource.Field_Effort</th>
            <th>@Resources.Resource.Field_StartDate</th>
            <th>@Resources.Resource.Field_EndDate</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var taskReport in Model)
            {
                if (User != null && User.Identity.IsAuthenticated)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => taskReport.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(c => taskReport.Effort)
                        </td>
                        <td>
                            @Html.DisplayFor(c => taskReport.DateOfReport)
                        </td>
                        <td>
                            @Html.DisplayFor(c => taskReport.DateEdit)
                        </td>
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_EditTaskReport, "CreateTaskReport", "TaskReport", new { token = taskReport.Id }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
