﻿@using System.Security.Claims

@model IEnumerable<TRS.UI.Models.TaskViewModel>
@{
    ViewBag.Title = "All Tasks";
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
<h4>@Resources.Resource.Title_AllTasks</h4>
@if (claimsIdentity.HasClaim(ClaimTypes.Role, "admin") 
    || claimsIdentity.HasClaim("Manager", ViewBag.Project.ToString()))
{
    <div class="pull-right">@Html.ActionLink(@Resources.Resource.Button_CreateTask, "CreateTask", "Task", new {token = ViewBag.Project}, new {@class = "btn btn-default btn-sm"})</div>
}
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>@Resources.Resource.Field_TaskName</th>
            <th>@Resources.Resource.Field_Description</th>
            <th>@Resources.Resource.Field_StartDate</th>
            <th>@Resources.Resource.Field_EndDate</th>
            <th>@Resources.Resource.Field_StateTask</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Count() != 0)
    {
        foreach (var task in Model)
        {
            if (User != null && User.Identity.IsAuthenticated)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(c => task.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(c => task.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(c => task.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(c => task.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(c => task.StateTask)
                    </td>
                    @if (claimsIdentity.HasClaim("Manager", task.ProjectId.ToString())
                        || claimsIdentity.HasClaim(ClaimTypes.Role, "admin"))
                    {
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_EditTask, "CreateTask", "Task", new { token = task.Id}, new {@class = "btn btn-default btn-sm"})
                        </td>

                    }
                    else if (claimsIdentity.HasClaim("User", task.Id.ToString()))
                    {
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_CreateTaskReport, "CreateTaskReport", "TaskReport", new { token = task.Id}, new {@class = "btn btn-default btn-sm"})
                        </td>
                    }
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_ShowTaskReport, "ShowTaskReport", "TaskReport", new { token = task.Id, project = ViewBag.Project.ToString() }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    
                </tr>
            }
        }
    }
    else
    {
        <tr><td>
        </td></tr>

    }
    </tbody>
</table>
