﻿@using TRS.UI.Infrastructure
@model TRS.UI.Models.TaskViewModel

@{
    var listState = StateHelper.GetAvaliableLocalizations();
}
<div class="panel panel-default">
    <div class="panel-heading">
        @Resources.Resource.Title_CreateTask
    </div>
    <div class="panel-body">
        <div class="container-fluid">@Html.ValidationSummary()</div>
        @using (Html.BeginForm("CreateTask", "Task", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(task => task.Id)
            @Html.HiddenFor(task => task.Creator)
            @Html.HiddenFor(task => task.ProjectId)

            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_NameTask, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(task => task.Name, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(task => task.Name)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_Description, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(task => task.Description, new { @class = "form-control" })
                    <div>
                        @Html.ValidationMessageFor(task => task.Description)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_StateTask, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-10">
                        @Html.DropDownListFor(user => user.Managers,
                            new SelectList(listState, "StateId", "Name"), new { @class = "form-control" })
                    </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_StartDate, new {@class = "col-xs-2 control-label"})

                <div class="col-xs-10">
                    @Html.DatepickerFor(task => task.StartDate, new {@class = "form-control"})
                    <div>
                        @Html.ValidationMessageFor(task => task.StartDate)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_EndDate, new {@class = "col-xs-2 control-label"})

                <div class="col-xs-10">
                    @Html.DatepickerFor(task => task.EndDate, new {@class = "form-control"})
                    <div>
                        @Html.ValidationMessageFor(task => task.EndDate)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@Resources.Resource.Field_ChooseUsers, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.ListBoxFor(user => user.Managers,
                new MultiSelectList(ViewBag.List, "Id", "Name"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">@Resources.Resource.Button_Save</button>
                </div>
            </div>
        }
    </div>
</div>
