﻿@using System.Security.Claims
@model IEnumerable<TRS.UI.Models.ProjectViewModel>
@{
    ViewBag.Title = "Projects";
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var labelBtn = "";
    var convertTimeZone = TimeZoneInfo.Utc;
    if (Request.Cookies.Get("Time") != null)
    {
        HttpCookie httpCookie = Request.Cookies.Get("Time");
        if (httpCookie != null)
        {
            convertTimeZone = TimeZoneInfo.FindSystemTimeZoneById(httpCookie.Value.ToString());
        }
    }
    DateTime k;
}

<h4>@Resources.Resource.Title_Project</h4>
@if (claimsIdentity.HasClaim(ClaimTypes.Role, "admin"))
{
    <div class="pull-right">@Html.ActionLink(@Resources.Resource.Button_CreateProject, "CreateProject", "Admin", new { projectId = ViewBag.Project }, new { @class = "btn btn-default btn-sm" })</div>
}
<table class="table table-responsive table-hover table-condensed">
    <thead>
        <tr>
            <th>@Resources.Resource.Field_NameProject</th>
            <th>@Resources.Resource.Field_Description</th>
            <th>@Resources.Resource.Field_StartDate</th>
            <th>@Resources.Resource.Field_EndDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            if (User != null && User.Identity.IsAuthenticated 
                && (claimsIdentity.HasClaim("Manager", project.Id.ToString()) 
                || claimsIdentity.HasClaim("User", project.Id.ToString())) 
                || (claimsIdentity.HasClaim(ClaimTypes.Role,"admin")))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(c => project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(c => project.Description)
                    </td>
                    <td>
                        @{
                            project.StartDate = new DateTime(project.StartDate.Ticks, DateTimeKind.Unspecified);
                            k = TimeZoneInfo.ConvertTimeFromUtc(project.StartDate, convertTimeZone);
                        }
                        @k.ToShortDateString()
                    </td>
                    <td>
                        @{
                            project.EndDate = new DateTime(project.EndDate.Ticks, DateTimeKind.Unspecified);
                            k = TimeZoneInfo.ConvertTimeFromUtc(project.EndDate, convertTimeZone);
                        }
                        @k.ToShortDateString()
                    </td>

                        @if (claimsIdentity.HasClaim("Manager", project.Id.ToString())
                            || claimsIdentity.HasClaim(ClaimTypes.Role,"admin"))

                         {
                             labelBtn = @Resources.Resource.Button_ShowAllTasks;
                         }
                         else if (claimsIdentity.HasClaim("User", project.Id.ToString()))
                         {
                             labelBtn = @Resources.Resource.Button_ShowAvailableTask;
                         }
                    <td>
                        @Html.ActionLink(@labelBtn, "AllTasks", "Task", new {token = project.Id}, new {@class = "btn btn-default btn-sm"})
                    </td>
                    @if (claimsIdentity.HasClaim(ClaimTypes.Role, "admin"))
                    {
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_EditProject, "CreateProject", "Admin", new { token = project.Id }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    }

                </tr>
            }
        }
    </tbody>
</table>