﻿@using Resources
@using TRS.UI.Infrastructure
@using TRS.UI.Models
@model UserFullModel

@{
    ViewBag.Title = "Details - " + Model.UserName;
    var listTimeZone = TimeZoneHelper.GetAvaliableTimeZone();
    var listLocal = LocalizationHelper.GetAvaliableLocalizations();
}
<div class="panel-body">
    <div class="container-fluid">@Html.ValidationSummary()</div>
    @using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(user => user.Id)
        <div class="form-group">
            @Html.Label(Resource.Field_UserName, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <div>
                    @Html.ValidationMessageFor(user => user.UserName)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_FirstName, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.TextBoxFor(user => user.FirstName, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.FirstName)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_LastName, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.TextBoxFor(user => user.LastName, new { @class = "form-control" })
                <div>
                    @Html.ValidationMessageFor(user => user.LastName)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_Pass, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.PasswordFor(user => user.Password, new {@class = "form-control"})
                <div>
                    @Html.ValidationMessageFor(user => user.Password)
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_ChooseLanguage, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(user => user.Locale,
                new SelectList(listLocal, "LocalizationId", "Name"), new { @class = "form-control" })
                </div>
            </div>
        <div class="form-group">
            @Html.Label(Resource.Field_ChooseTimeZone, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(user => user.TimeZoneUser,
                new SelectList(listTimeZone, "TimeZoneId", "Name"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">@Resource.Button_Save</button>
                </div>
            </div>
    }
</div>