﻿@using System.Security.Claims

@model IEnumerable<TRS.UI.Models.UserFullModel>
@{
    ViewBag.Title = "All Users";
    var claimsIdentity = User.Identity as ClaimsIdentity;
}
<h4>@Resources.Resource.Title_AllTasks</h4>
@if (claimsIdentity.HasClaim(ClaimTypes.Role, "admin"))
{
    <div class="pull-right">@Html.ActionLink(@Resources.Resource.Button_CreateProfile, "Create", "Profile", new { taskId = ViewBag.Project }, new { @class = "btn btn-default btn-sm" })</div>
    <table class="table table-responsive table-hover table-condensed">
        <thead>
        <tr>
            <th>@Resources.Resource.Field_User</th>
            <th>@Resources.Resource.Field_FirstName</th>
            <th>@Resources.Resource.Field_LastName</th>
            <th>@Resources.Resource.Field_DateReg</th>
            <th>@Resources.Resource.Field_Locale</th>
            <th>@Resources.Resource.Field_TimeZone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count() != 0)
        {
            foreach (var task in Model)
            {
                if (User != null && User.Identity.IsAuthenticated)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(c => task.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(c => task.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(c => task.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(c => task.RegistrationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(c => task.Locale)
                        </td>
                        <td>
                            @Html.DisplayFor(c => task.TimeZoneUser)
                        </td>
                        <td>
                            @Html.ActionLink(@Resources.Resource.Button_EditUser, "Create", "Profile", new { token = task.Id}, new {@class = "btn btn-default btn-sm"})
                        </td>
             
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td></td>
            </tr>

        }
        </tbody>
    </table>
}
