﻿@using Resources
@using TRS.UI.Infrastructure
@using TRS.UI.Models
@model UserFullModel

@{
    ViewBag.Title = "Details - " + Model.UserName;
    var listTimeZone = TimeZoneHelper.GetAvaliableTimeZone();
    var listLocal = LocalizationHelper.GetAvaliableLocalizations();
}
<div class="panel-body">
    @using (Html.BeginForm("ViewProfile", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(task => task.Id)
        @Html.HiddenFor(task => task.UserName)
        @Html.HiddenFor(task => task.FirstName)
        @Html.HiddenFor(task => task.LastName)
        @Html.HiddenFor(task => task.Password)
        @Html.HiddenFor(task => task.RegistrationDate)

        <div class="form-group">
            @Html.Label(Resource.Field_UserName, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DisplayFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_FirstName, new {@class = "col-xs-2 control-label"})
            <div class="col-xs-10">
                @Html.DisplayFor(user => user.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_LastName, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DisplayFor(user => user.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resource.Field_ChooseLanguage, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(user => user.Locale,
                new SelectList(listLocal, "LocalizationId", "Name"), new { @class = "form-control" })
                </div>
            </div>
        <div class="form-group">
            @Html.Label(Resource.Field_ChooseTimeZone, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(user => user.TimeZoneUser,
                new SelectList(listTimeZone, "TimeZoneId", "Name"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">@Resource.Button_Save</button>
                </div>
            </div>
    }
</div>