﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var ee = claimsIdentity.GetUserId();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resource.ProjectName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.Menu_Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Menu_Project, "Index", "Project")</li>
                    @if (User != null && User.Identity.IsAuthenticated && claimsIdentity.HasClaim(ClaimTypes.Role, "admin"))
                    {
                        <li>@Html.ActionLink(@Resources.Resource.Menu_Administration, "ViewAll", "Profile")</li>
                    }
                </ul>
                @Html.Action("Login", "Login")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderSection("SubHeader", false)
        <div class="container-fluid top-buffer">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <div class="pull-right">@Html.Partial("_Repositories")</div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script>
        (function($) {
            $("#Name").change(function() {
                $(this).closest("form").submit();
            });
        })($)
    </script>
    @RenderSection("Scripts", false)
</body>
</html>