﻿@using System.Security.Claims
@using System.Threading
@using Microsoft.AspNet.Identity
@model TRS.UI.Models.LoginViewModel


@if (User != null && !User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Loging", "Login", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = @Resources.Resource.Field_UserName })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Resource.Field_Pass })

        </div>
        <button type="submit" class="btn btn-default">@Resources.Resource.Button_Login</button>
    }
}
else
{
    var CurrentUser = Thread.CurrentPrincipal.Identity as ClaimsIdentity;
    var ee = CurrentUser.GetUserId();
    
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <u>@User.Identity.Name</u> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink(@Resources.Resource.Button_Profile,"ViewProfile", "Profile", new { token = ee }, null)</li>
                <li>@Html.ActionLink(@Resources.Resource.Button_Logout, "Logout", "Login")</li>
            </ul>
        </li>
    </ul>
}


